<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="images/weather.png">    
    <link rel="stylesheet" href="css/style.css" /> 
    <script src="/js/app.js"></script>
  </head>
  <body>
    <div class="main-container">
      {{>header}}
      <p>This site is created by Khushboo Makhija. It uses data from openWeather.com!</p>
      <img class="portrait" src="images/sunshine.jpg" alt="">
      <img class="portrait" src="images/thunder.jpg" alt="">
      <img class="portrait" src="images/windy.jpg" alt="">
      <img class="portrait" src="images/snowy.jpg" alt="">
      {{!-- <p>Created by {{name}}</p> --}}
    </div>
    {{>footer}}
  </body>
</html>